.summary-widget {
    border: 1px solid #ddd;
    background-color: gray;
    margin: 10px;
    padding: 20px;
}

.green-text {
    color: green;
}

.yellow-text {
    color: yellow;
}

.red-text {
    color: red;
}